<!--
<div class="row panel-header panel-top-pink">

    <div class="rcol-md-12 col-sm-12 col-xs-12ow center">
        <img alt="Avatar" class="img-circle " src="https://www.gravatar.com/avatar/5b5d6be510bb9b048b16b9c7b6b36a2f.jpg?d=identicon" >
    </div>


    <br>
    <div class="col-md-12 col-sm-12 col-xs-12 center">
        <p>
            مرحبا أنا  <strong>Noor_ATM</strong> معلمة تربية إسلامية  <br>
            أحببت أن أعمل موقع تبادل ليسهل  التبادل بين المعلمين<br>
            مع كل الـ <i class="fa fa-heart"></i> والتقدير للمعلم
        </p>
    </div>
</div>
        --->
    <div class="row">
        <!-- LEFT PANEL -->
        <div class="col-md-offset-1 col-md-4">

            <div class="list-group">

                <!-- SEARCH TOOL -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </div>
                        <input type="text" ng-model="searchTask" class="form-control" placeholder="بـحـث">
                    </div>
                </div>


                <!-- TASK LIST -->
                <a ng-repeat="task in tasks | filter: {title: searchTask, status: '!cancelled'} |
                orderBy: 'datetime':true" ng-href="#/browse/{{task.$id}}" >
                    <div class="list-group-item">
                        <div class="row-picture">
                            <img class="circle" ng-src="{{task.gravatar}}">
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading">{{task.title | limitTo:25}}{{ task.title.length > 25? "..." : ""}}</h4>
                            <!-- الوقت -->
                            <span class="list-group-item-text">
                                <span am-time-ago="task.datetime"></span>
                            </span>

                        </div>
                        <div class="payment">
                            <span class="label status {{task.status}}">{{task.status}}</span>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </a>
            </div>

        </div>



        <!-- left PANEL -->
        <div class="col-md-6">
            <div ng-show="listMode">
                <h4 class="text-allgin">شاهد آلية عمل موقع تبادل على اليوتيوب
                <a href="https://youtu.be/l5XoSV_yHgI">
                    <i class="fa fa-youtube-square"></i>
                </a>
                </h4>
                <img src="images/browse.jpg" class="img-responsive img-browse">
            </div>

            <div ng-show="!listMode">

                <!-- HEADER -->
                <div class="row">
                    <div class="col-md-8">
                        <h3>{{ selectedTask.title }}</h3>
					<span>
						<img ng-src="{{ selectedTask.gravatar }}" class="img-circle gravatar">

                                أرسلت بواسطة  {{selectedTask.name}} -

                        <span am-time-ago="selectedTask.datetime" dir="rtl"></span>&nbsp;
						<span class="label status {{selectedTask.status}}" >{{ selectedTask.status }}</span>
					</span>
                    </div>

                    <div class="col-md-4 title">
                        <div>
                            <!-- Admin -->

                            <div ng-show="isTaskCreator(selectedTask) && isOpen(selectedTask)">
                                <div class="btn-group">
                                    <a href="" class="btn btn-warning">الـمشـرف</a>
                                    <a href="" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" data-toggle="modal" data-target="#ediModal">تعديل الطلب</a></li>
                                        <li class="divider"></li>
                                       <!-- <li><a href="" ng-click="cancelTask(selectedTask.$id)">إلغـاء الـطلب</a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <!-- Add offer button -->
                            <div ng-show="isOpen(selectedTask) && !isTaskCreator(selectedTask) && !alreadyOffered">
                                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#offModal">تـقـديـم عـرض تبــادل</button>
                            </div>

                            <div ng-show="isAssignee(selectedTask) && !isCompleted(selectedTask)">
                                <button class="btn btn-danger btn-sm" ng-click="completeTask(selectedTask.$id)">تـبــــادل</button>
                            </div>

                        </div>
                    </div>
                </div>

                <br>
                <!-- Employee Data -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" dir="rtl">
                                <h3 class="panel-title">بـيـانـات الـمـوظـف</h3>
                            </div>
                            <div class="list-group-item-text" dir="rtl">
                                <ul class="panel-body" dir="rtl">
                                    <li><font color=“#47A3FF">الـمـدرسـة:   </font>{{selectedTask.school}}</li>
                                    <li><font color=“#47A3FF">الـمـرحـلـة:   </font>{{selectedTask.grade}}</li>
                                    <li><font color=“#47A3FF">الـمـحـافـظـة:  </font>{{selectedTask.governorate}}</li>
                                    <li><font color=“#47A3FF">الـــولايــــة:   </font>{{selectedTask.wilayat}}</li>
                                    <li><font color=“#47A3FF">المنطقة السكنية:   </font>{{selectedTask.residential}}</li>
                                </ul>

                                    <div dir="ltr">
                                        <a href="whatsapp://send?text=قم بزيارة موقع تبادل لتسهيل عملية التبادل بين المعلمين على هذا الرابط
                                                 https://tbaadol.com/#/" data-action="share/whatsapp/share" >
                                            <button type="button" class="btn btn-success btn-xs visible-xs-block whatsapp">
                                        <i class="fa fa-whatsapp"></i>

                                            </button>
                                            </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DESCRIPTION -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" dir="rtl">
                                 <h3 class="panel-title">إلى أين ترغب بالتبادل</h3>
                            </div>
                        <div class="panel-body" dir="rtl">
                            {{selectedTask.description}}
                        </div>
                    </div>
                </div>
            </div>

                <!-- OFFERS -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">

                            <div class="panel-heading" dir="rtl">
                                <h3 class="panel-title">عـــروض</h3>
                            </div>

                            <div class="panel-body">

                                <div class="title" ng-hide="offers && offers.length > 0">
                                    <span>لا يـوجـد عـروض تبــادل لـهـذا الـطـلـب</span>
                                </div>

                                <div class="row" ng-repeat="offer in offers">
                                    <div class="col-md-10">
                                        <button ng-show="offer.accepted" class="btn btn-success btn-xs disabled">نــقــل</button>

                                        <button ng-show="isTaskCreator(selectedTask) && isOpen(selectedTask)" class="btn btn-info btn-xs"
                                                ng-click="acceptOffer(offer.$id,offer.uid)">قـبـــول - {{offer.title}}</button>

                                        <button ng-show="isOfferMaker(offer) && isOpen(selectedTask)" class="btn btn-danger btn-xs"
                                                ng-click="cancelOffer(offer.$id)">إلـغـــاء - {{offer.title}}</button>

                                        <img ng-src="{{offer.gravatar}}" class="img-circle offer gravatar">
                                        <span>{{offer.name}}</span>
                                    </div>
                                </div><br>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- COMMENTS -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">

                            <div class="panel-heading" dir="rtl">
                                <h3 class="panel-title">تـعـلـيـقـات</h3>
                            </div>

                            <div class="panel-body">

                                <div class="title" ng-hide="comments && comments.length > 0">
                                    <span>لا يـوجـد تـعـلـيـق </span>
                                </div><br>

                                <div class="row" ng-repeat="com in comments">
                                    <div class="col-md-1">
                                        <img ng-src="{{com.gravatar}}" class="img-circle comment gravatar">
                                    </div>
                                    <div class="col-md-11">
                                        <div class="well well-sm cmt">
                                            <span class="cmt-title">{{com.name}}:</span>
                                            <span class="cmt-time pull-left"><span am-time-ago="com.datetime"></span></span><br>

                                            <span>{{com.content}}</span>
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row" ng-show="isOpen(selectedTask)">
                                    <div class="col-md-12">
                                        <form ng-submit="addComment()">

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <img ng-src="{{ user.profile.gravatar }}" class="img-circle comment gravatar">
                                                </div>
                                                <input type="text" ng-model="content" cols="10" rows="3" class="form-control" placeholder="إضـافـة تـعـلـيـق" required><br>
                                            </div>

											<span class="pull-right">
												<input type="submit" class="btn btn-info" value="تـعـلـيـق">
											</span>
                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>



                    </div>
                </div>



        </div>

    </div>
  </div>
</div>

    <div ng-include="'views/partials/edit.html'"></div>
    <div ng-include="'views/partials/offer.html'"></div>


